.ui-autocomplete-input {
      border: none;
      font-size: 14px;
      width: 300px;
      padding-top: 4px;
      border: 1px solid #CCC!important;
      z-index: 1511;
      position: relative;
    }
    .ui-menu .ui-menu-item a {
      font-size: 13px;
      padding: 10px 0;
    }
    .ui-autocomplete {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1510 !important;
      float: left;
      display: none;
      min-width: 160px;
      width: 160px;
      padding: 4px 0;
      margin: 2px 0 0 0;
      list-style: none;
      background-color: #ffffff;
      border-color: #ccc;
      border-color: rgba(0, 0, 0, 0.2);
      border-style: solid;
      border-width: 1px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      -webkit-background-clip: padding-box;
      -moz-background-clip: padding;
      background-clip: padding-box;
      *border-right-width: 2px;
      *border-bottom-width: 2px;
       max-height: 500px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
        /* add padding to account for vertical scrollbar */
    }
    /* Scroll bar stylishing */
    .ui-autocomplete::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
    }

    .ui-autocomplete::-webkit-scrollbar
    {
        width: 7px;
        background-color: #F5F5F5;
    }

    .ui-autocomplete::-webkit-scrollbar-thumb
    {
        background-color: #8c8c8c;
    }

    .ui-menu-item > a.ui-corner-all {
        display: block;
        padding: 3px 15px;
        clear: both;
        font-weight: normal;
        line-height: 35px;
        color: #555555;
        white-space: nowrap;
        text-decoration: none;
    }
    .ui-state-hover, .ui-state-active {
          color: #ffffff;
          text-decoration: none;
          /*background-color: #0088cc;*/
          border-radius: 0px;
          -webkit-border-radius: 0px;
          -moz-border-radius: 0px;
          background-image: none;
    }




/*Mobile Querys*/

@media (min-width: 768px){
  /* Modal Reservar */
  .form-reserva input{
    width: 200px;
  }
}

@media (max-width: 767px){
  /* Modal Reservar */
  .ui-autocomplete-input{
    width: 100%!important;
  }
}


@media (max-width: 480px) {

    .ui-autocomplete {
        max-height: 200px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
        /* add padding to account for vertical scrollbar */

        /* Scroll bar stylishing */
        .ui-autocomplete::-webkit-scrollbar-track
        {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            background-color: #F5F5F5;
        }

        .ui-autocomplete::-webkit-scrollbar
        {
            width: 5px;
            background-color: #F5F5F5;
        }

        .ui-autocomplete::-webkit-scrollbar-thumb
        {
            background-color: #cccccc;
        }
    }



