@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Raleway|Roboto);
html, body {
  margin: 0;
  padding: 0;
}

a:active, a:hover, a:link, a:visited{
  text-decoration: none!important;
  font-style: normal;
}

.wrap-content {
  width: 100%;
  height: 100%;
  background: #FFFFFF;
}
.content {
  width: 700px;
  position: relative;
  margin: 0 auto;
  margin-top: 15px;
  font-family: 'Roboto', sans-serif;
}

/*Index*/
.inicio{
  background:url(../img/banner.png);
  padding: 80px 150px;
  margin:  0 auto;
  color: #FFFFFF;
  text-align: center;
}

.inicio h1{
  width: 300px;
  margin:  0 auto;
  font-size: 20px;
  padding-top: 20px;
}

.btn-ver{
  margin-top: 100px;
  padding: 14px 19px!important;
  background: #00B4B3;
}

.painel{
  margin-top: 50px;
}

a.btn-ver:link, a.btn-ver:visited, a.btn-ver:hover, a.btn-ver:active{
  color:#FFFFFF;
  background: #50B4B3;
}

.footer{
  width: 100%;
  height: 40px;
  background: #e1e1e1;
  padding: 15px 50px;
  text-align: right;
  position: absolute;
  bottom: 5px;
}

.footer img{
  width: auto;
  height: 30px;
}

.img-footer{
  width: 100%;
  height: 40px;
  padding: 15px 50px;
  text-align: left;
  position: absolute;
  bottom: 20px;
}

.img-footer img{
  position: absolute;
  bottom: 5px;
  width: auto;
  height: 20px;
}

/* :::: Agendamentos :::: */

.nome-recurso{
  position: absolute;
  margin-top: 65px;
  color: #444444;
  font-size: 17px;
  margin-left: 1px;
}

/*Botões*/
.plus{
  display:block;
  width:60px;
  height:60px;
  font-weight: lighter!important;
  background:#7fad3e;
  background: #00B4B3;
  position:absolute;
  bottom:-5px;
  right:40px;
  z-index:100;
  text-align:center;
  overflow:hidden;
  line-height:65px;
  font-size:20px;
  color:#fff;
  -moz-box-shadow: 0px 3px 9px rgba(0,0,0,.5);
  -webkit-box-shadow: 0px 3px 9px rgba(0,0,0,.5);
  box-shadow: 0px 3px 9px rgba(0,0,0,.5);
  border-radius:50px;
  -webkit-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
}

.plus:hover{
  cursor:pointer;
  color: #ffffff;
}

.home{
  display:block;
  width:40px;
  height:40px;
  background:#e67e96;
  position:absolute;
  bottom:10px;
  right:120px;
  z-index:999;
  text-align:center;
  overflow:hidden;
  line-height:41px;
  font-size:1.5em;
  color:#fff;
  border-radius:50px;
  -moz-box-shadow: 0px 3px 9px rgba(0,0,0,.5);
  -webkit-box-shadow: 0px 3px 9px rgba(0,0,0,.5);
  box-shadow: 0px 3px 9px rgba(0,0,0,.5);
  border-radius:50px;
  -webkit-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
}

.home:hover{
  cursor:pointer;
  color: #ffffff;
}

/*Modal Reservar*/
.add-minutos{
  width:40px;
  height:40px;
  background:#e67e96;
  text-align:center;
  line-height:39px;
  font-size:13px;
  color:#fff;
  border: none!important;
  border-radius:50px;
  margin-left: 5px;
  outline: none;
  padding-right: -1px;
}

.add-minutos:active{
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
  animation: click 0.3s ease-out;
}

.form-reserva table{
  margin: 0 auto;
}

.form-reserva input{
    margin-top: 5px;
    width: 250px;
    margin-left: 5px;
}


/*Modal excluir*/
.input-excluir{
  border: none!important;
  background: transparent!important;
  cursor: not-allowed;
  cursor: default;
}

.input-excluir:focus{
  border: none!important;
  outline: none;
}

.form-excluir table td{
  padding: 2px 3px;
}

.validation{
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #eee;
}



/*Style Mensagens*/
.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1
}

.alert-error hr {
    border-top-color: #e4b9c0
}

.alert-error .alert-link {
    color: #843534
}

ul.errorlist{
  list-style: none;
  padding-inline-start: 10px!important;
}

