@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Raleway|Roboto);
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

a:active, a:hover, a:link, a:visited{
  text-decoration: none!important;
  font-style: normal;
}

.wrap-content {
  width: 100%;
  height: 100%;
  background: #FFFFFF;
}

.content {
  width: 93%;
  position: relative;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  padding-top: 30px;
}

.content-inicio {
  width: 93%;
  position: relative;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}


/* ::: Index :::*/
.inicio{
  background:url(../img/banner.png);
  margin:  0 auto;
  padding: 50px 0;
  margin: 0 auto;
  color: #FFFFFF;
  text-align: center;
}

.inicio h1{
  width: 90%;
  margin:  0 auto;
  font-size: 20px;
  padding-top: 20px;
}

.btn-ver{
  margin-top: 80px;
  padding: 14px 19px!important;
  background: #00B4B3;
}

.painel{
  margin-top: 70px;
}

a.btn-ver:link, a.btn-ver:visited, a.btn-ver:hover, a.btn-ver:active{
  color:#FFFFFF;
  background: #50B4B3;
}

.footer{
  width: 100%;
  height: 40px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px -2px 6px 0px #cccccc;
  -moz-box-shadow: 0px -2px 6px 0px #cccccc;
  box-shadow: 0px -1px 6px 0px #cccccc;
  padding: 11px 15px;
  text-align: right;
  position: absolute;
  bottom: 0;
}

.footer img{
  width: auto;
  height: 20px;
}

.img-footer{
  width: 100%;
  height: 40px;
  padding: 15px 50px;
  text-align: left;
  position: absolute;
  bottom: 20px;
}

.img-footer img{
  position: absolute;
  bottom: 5px;
  width: auto;
  height: 20px;
}

/* :::: Agendamentos :::: */

.nome-recurso{
  position: absolute;
  margin-top: 50px;
  color: #444444;
  font-size: 17px;
  margin-left: 1px;
}

/*Botões*/
.plus{
  display:block;
  width:60px;
  height:60px;
  font-weight: lighter!important;
  background:#7fad3e;
  background: #00B4B3;
  position:absolute;
  right:40px;
  bottom: 0;
  z-index:100;
  text-align:center;
  overflow:hidden;
  line-height:65px;
  font-size:20px;
  color:#fff;
  -moz-box-shadow: 0px 3px 9px rgba(0,0,0,.5);
  -webkit-box-shadow: 0px 3px 9px rgba(0,0,0,.5);
  box-shadow: 0px 3px 9px rgba(0,0,0,.5);
  border-radius:50px;
  -webkit-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
}

.plus:hover{
  cursor:pointer;
  color: #ffffff;
}

.home{
  display:block;
  width:40px;
  height:40px;
  background:#e67e96;
  background:#327f83;
  position:absolute;
  right:120px;
  z-index:999;
  text-align:center;
  overflow:hidden;
  line-height:41px;
  font-size:16px;
  padding-right: 2px;
  color:#fff;
  border-radius:50px;
  -moz-box-shadow: 0px 3px 9px rgba(0,0,0,.5);
  -webkit-box-shadow: 0px 3px 9px rgba(0,0,0,.5);
  box-shadow: 0px 3px 9px rgba(0,0,0,.5);
  border-radius:50px;
  -webkit-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
  bottom: 17px;
}

.home:hover{
  cursor:pointer;
  color: #ffffff;
}

.btn-primary{
  background-color: #00B4B3!important;
  border-color: #00B4B3!important;
}

.btn-primary:active{
  background-color: #1b6d85!important;
  border-color: #00B4B3!important;
}

/*Modal Reservar*/
.add-minutos{
  background:#e67e96;
  background:#66b3ff;
  text-align:center;
  line-height:26px;
  font-size:13px;
  color:#fff;
  border: 1px solid #76ade0;
  border-radius:5px;
  margin-left: 5px;
  outline: none;
  padding-right: -1px;
  margin-top: 3px;
}

.add-minutos:active{
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
  animation: click 0.3s ease-out;
  background-color: #76ade0;
}

.form-reserva table{
  margin: 0 auto;
}

.form-reserva input{}

.form-group{
    margin-bottom: 5px !important;
}

.form-group label{
  padding-top: 10px;
  text-align: right;
}

.col-sm-4{
  padding-right:0px!important;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}
.clear{
  clear: both;
}


/*Modal excluir*/
.input-excluir{
  border: none!important;
  background: transparent!important;
  cursor: not-allowed;
  cursor: default;
}

.input-excluir:focus{
  border: none!important;
  outline: none;
}

.form-excluir{
  padding-bottom: 0!important;
}

.modal-excluir .modal-footer{
  border: 0;
}

.form-excluir table td{
  padding: 3px 3px;
}

.form-excluir table.table-line td{
  border-bottom: 1px solid #eeeeee;
}

.validation{
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e5e5e5;
}



/*Style Mensagens*/
.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1
}

.alert-error hr {
    border-top-color: #e4b9c0
}

.alert-error .alert-link {
    color: #843534
}

ul.errorlist{
  list-style: none;
  padding-inline-start: 10px!important;
}


/*Mobile Querys*/

@media (min-width: 769px){
  /* Modal Reservar */
  .form-reserva input{
    width: 200px;
  }
  /* Scroll bar stylishing */
  .fc-scroller::-webkit-scrollbar-track
  {
	background-color: #F5F5F5;
    border-left: 1px solid #dddddd;
  }

  .fc-scroller::-webkit-scrollbar
  {
      width: 12px;
	background-color: #F5F5F5;
  }

  .fc-scroller::-webkit-scrollbar-thumb
  {
     border-radius: 0px;
     background-color: #e1e1e1;
  }
}

@media (max-width: 767px){
  /* Modal Reservar */
  .ui-autocomplete-input{
    width: 100%!important;
  }
}


@media (max-width: 480px) {
  /* ::: Início ::: */
  .logo-ska{
    width: 150px;
    height: auto;
  }
  .inicio{
    padding: 43px 0;
  }
  /* ::: Agendamentos ::: */
  .content{
    padding-top: 10px;
  }
  .nome-recurso {
    margin: 0 auto;
    margin-top: 45px;
    width: 100%;
    text-align: center;
    font-size: 15px;
  }
  .plus{
    width:55px;
    height:55px;
    right:-10px;
    line-height:60px;
    font-size:18px;
    border-radius:45px;
  }
  .home{
    width:35px;
    height:35px;
    height:35px;
    right:65px;
    padding-left: 1px;
    line-height:37px;
    font-size:1.1em;
  }
  /* Modal Reservar */
  .btn-incre{
    width: 39%;
  }
  .input-incre{
    width: 61%;
  }
  .add-minutos{
    width: 25%;
    height:auto;
    line-height:27px;
    font-size:12px;
    border-radius:4px;
    padding: 0px;
  }
}

@media (max-width: 330px) {
  /* ::: Agendamentos ::: */
  .nome-recurso{
    margin: 0 auto;
    margin-top: 45px;
    align-content: center;
    width: 100%;
    text-align: center;
    font-size: 13px;
  }
}
