<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>SKA - Agendamento de recuros</title>
    {% load static %}
    {% load tags %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'assets/css/style.css'%}">
  <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min_old.css' %}">

  
</head>

<body>
    <div class="wrap-content">
        <div class="inicio" >
            <img src="{% static 'assets/img/logo-target.png'%}">
            <h1>{{ recurso }}</h1>
        </div>
        <div class="content">
            <div class="text-center">
                <a href="../../sala/{{ cd_recurso }}" class="btn btn-lg btn-ver">Ver agendamentos</a>
            </div>
            <div class="text-center alert painel">
                {% if messages %}
                {% for message in messages %}
                    <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
                        {{ message|linebreaks }}</div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="footer">
            <a href="http://www.ska.com.br">
                <img src="{% static 'assets/img/logo-ska.png'%}">
            </a>
        </div>
    </div>
</body>

</html>