/**
 * FILE: jquery.ptTileSelect.css
 * 	Default style for the timeselect container.
 *
 *  LAST UPDATED:
 *
 * 		- $Date: 2009/04/12 20:23:02 $
 * 		- $Author: paulinho4u $
 * 		- $Revision: 1.1 $
 */
#ptTimeSelectCntr {
	width: 250px;
	font-size: .9em;
	position: absolute;
	z-index: 10;
	display: none;
}
#ptTimeSelectCntr .ui-widget{
	padding: .2em;
	border: 1px solid #cccccc!important;
}
#ptTimeSelectCntr .ui-widget-header {
	padding: .2em;
	padding-top: 5px;
	background: #FFFFFF;
	font-size: 15px;
	border: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
}
#ptTimeSelectCntr #ptTimeSelectUserTime {
	padding: .2em;
	padding-left: 1em;
	text-align: center;
}
#ptTimeSelectCntr #ptTimeSelectCloseCntr {
	display: block;
	padding: .2em;
}
#ptTimeSelectCntr #ptTimeSelectCloseCntr a {
	display: block;
	padding: .2em;
	background: transparent;
	border: none;
}
#ptTimeSelectCntr .ui-widget-content {
	 margin-top: .1em;
	 margin-bottom: .1em;
	 padding: .2em;
 	 border: 0;
}
#ptTimeSelectCntr .ui-widget.ui-widget-content {
	margin-top: 0;
}
#ptTimeSelectCntr .ptTimeSelectLeftPane.ui-widget-content {
	border-top:none;
	border-bottom:none;
	border-left:none;
	border-right-width: 2px;
}
#ptTimeSelectCntr .ptTimeSelectRightPane.ui-widget-content {
	border: none;
}
#ptTimeSelectCntr .ptTimeSelectHrCntr a,
#ptTimeSelectCntr .ptTimeSelectMinCntr a {
	display: block;
	float: left;
	padding: .2em;
	margin: 1px;
	background: #eeeeee;
	text-align: center;
	text-decoration: none;
	border: 0!important;
	width: 35px!important;
	line-height: 25px;
}

#ptTimeSelectCntr .ptTimeSelectHrAmPmCntr a {
	text-align: center;
	margin: 1px;
}

#ptTimeSelectCntr .ptTimeSelectTimeLabelsCntr {
	font-weight: bold;
	font-size: .9em;
}
#ptTimeSelectCntr #ptTimeSelectSetButton {
	padding-top: .2em;
	padding-bottom: .2em;
}
#ptTimeSelectCntr #ptTimeSelectSetButton a {
 	display: block;
	padding: .2em;
	width: 30%;
	text-align: center;
	float: right;
}

.selectHoras{
	margin-left: 5px!important;
}

.label-timeSelect{
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-size: 13px;
}

.btn-timeSelect a{
	background: #00B4B3!important;
	color: #ffffff!important;
	border: 0!important;
	padding: 5px!important;
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-size: 15px;
}

a.ui-state-default{}

a.ui-state-active{
	background: #66b3ff!important;
	color: #ffffff!important;
	border-color: #66b3ff!important;
}

#ptTimeSelectEle{

}