<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendamento de salas de reunião</title>
    {% load static %}
    {% load tags %}

    <link href="{% static 'assets/css/bootstrap.min_old.css' %}" type="text/css" rel="stylesheet" />
    <link href="{% static 'assets/css/fullcalendar.min.css' %}" type="text/css" rel="stylesheet" />
    <link href="{% static 'assets/css/style.css' %}" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="{% static 'assets/js/autocomplete/jquery-ui.css' %}" /><!-- Autocomplete input -->

    <script src="{% static 'assets/js/jquery.js' %}"></script>
    <script src="{% static 'assets/js/script.js' %}"></script>
    <script src="{% static 'assets/js/autocomplete/jquery-1.9.1.js' %}"></script>
    <script src="{% static 'assets/js/autocomplete/jquery-ui.js' %}"></script>

    <!-- Calendario -->
    <script src="{% static 'assets/js/moment.min.js' %}"></script>

    <script>
        $(function() {
            var usuarios = [
                "Gabriela Kuhn",
                "melancia.ska",
                "batata.ska"
            ];
            $("#id_usuario" ).autocomplete({
                source: usuarios
            });
        });
    </script>

</head>

<body>

    <div id="showCalendar" class="animation" style="display:none;"></div>
    <!-- BEGIN: Tela calendário -->
    <div class="wrap">
        {{ cadastroReservaForm.usuario|addcss:'form-control' }}
        <form class="form-horizontal" role="form" method="post"> {% csrf_token %}
            <table>
                <tr>
                    <td>Data:</td>
                    <td class="reserva-input">{{ cadastroReservaForm.data|addcss:'form-control' }}</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Hora Inicial:</td>
                    <td class="reserva-input">{{ cadastroReservaForm.horaInicial|addcss:'form-control' }}</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Hora Final:</td>
                    <td class="reserva-input">{{ cadastroReservaForm.horaFinal|addcss:'form-control' }}</td>
                    <td>
                        <button class="add-min" onclick="add10()">+10'</button>
                        <button class="add-min" onclick="add30()">+30'</button>
                        <button class="add-min" onclick="add60()">+1h</button>
                    </td>
                </tr>
                <tr>
                    <td>Usuário SKA:</td>
                    <td class="reserva-input">{{ cadastroReservaForm.usuario|addcss:'form-control' }}</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Senha:</td>
                    <td class="reserva-input">{{ cadastroReservaForm.senha|addcss:'form-control' }}</td>
                    <td></td>
                </tr>
            </table>
            <button type="button" class="btn btn-default" data-dismiss="modal" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary" >Reservar</button>
        </form>
    </div>
    <!-- // END: Tela calendário -->




</body>
</html>