<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendamento de salas de reunião</title>
    {% load static %}
    {% load tags %}
    <link href="{% static 'assets/css/bootstrap.min_old.css' %}" type="text/css" rel="stylesheet" />
    <link href="{% static 'assets/css/fullcalendar.min.css' %}" type="text/css" rel="stylesheet" />
    <link href="{% static 'assets/css/style.css' %}" type="text/css" rel="stylesheet">
    <!-- Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <!-- Autocomplete input -->
    <link rel="stylesheet" href="{% static 'assets/js/autocomplete/jquery-ui.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/js/autocomplete/autocomplete.css' %}" />
    <!-- TimePicker -->
    <link rel="stylesheet" href="{% static 'assets/js/timepicker/timepicker_style.css' %}" />

    <script src="{% static 'assets/js/jquery.js' %}"></script>
    <!-- Input Mask -->
    <script src="{% static 'assets/js/jquery.inputmask.js' %}"></script>
    <!-- Autocomplete Input -->
    <script src="{% static 'assets/js/autocomplete/jquery-ui.js' %}"></script>
    <!-- Calendario -->
    <script src="{% static 'assets/js/moment.min.js' %}"></script>
    <script src="{% static 'assets/js/fullcalendar.min.js' %}"></script>
    <script src="{% static 'assets/js/locale-all.js' %}"></script>
    <!-- Modal -->
    <script src="{% static 'assets/js/bootstrap.min_old.js' %}"></script>
    <script src="{% static 'assets/js/script.js' %}"></script>
    <!-- TimePicker -->
    <script src="{% static 'assets/js/timepicker/timepicker.js' %}"></script>
</head>
<body>
    <!-- BEGIN: Tela calendário -->
    <div class="wrap-content">

        <div class="content">
            {% if messages %}
                {% for message in messages %}
                    <div{% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissable" role="alert" {% endif %}>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        {{ message }}</div>
                {% endfor %}
            {% endif %}
            <div class="nome-recurso">{{ recurso }}</div>
            <div id="calendar"></div>
        </div>
        <a class="plus">
            <i class="fa fa-plus"></i>
        </a>
        <a class="home" href="../../inicio/{{ cd_recurso }}/">
            <i class="fa fa-home"></i>
        </a>
    </div>
    <!-- // END: Tela calendário -->

    <!-- BEGIN: Modal ver agendamento -->
    <div id="fullCalModal" class="modal fade">
        <form class="form-horizontal" role="form" method="post" id="form-exclude"> {% csrf_token %}
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <strong>Detalhes da reserva</strong>
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-body form-excluir">
                        <table>
                            <tr>
                                <td>Código: </td>
                                <td>{{ excluirReservaForm.reserva|addcss:'input-excluir' }}</td>
                            </tr>
                            <tr>
                                <td>Responsável:</td>
                                <td><input type="text" id="id_responsavel" class="input-excluir" disabled></td>
                            </tr>
                            <tr>
                                <td>Recurso:</td>
                                <td><input type="text" id="id_recurso" class="input-excluir" disabled></td>
                            </tr>
                            <tr>
                                <td>Data:</td>
                                <td><input type="text" id="id_data" class="input-excluir" disabled></td>
                            </tr>
                            <tr>
                                <td>Hora Inicial</td>
                                <td><input type="text" id="id_horaInicial" class="input-excluir" disabled></td>
                            </tr>
                            <tr>
                                <td>Hora Final</td>
                                <td><input type="text" id="id_horaFinal" class="input-excluir" disabled></td>
                            </tr>
                        </table>
                        <div class="validation" style="display: none">
                            <p> Para realizar a exclusão entre com seu usuario e senha TargetSka:</p>
                            <table class="table-excluir">
                                <tr>
                                    <td>Usuario</td>
                                    <td>{{ excluirReservaForm.usuario|addcss:'form-control addresspicker'}}</td>
                                </tr>
                                <tr>
                                    <td>Senha</td>
                                    <td>{{ excluirReservaForm.senha|addcss:'form-control'}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                        <div class="btn btn-primary" id="show-validation">Excluir</div>
                        <div id="showBtn" style="display: none; float: right; margin-left: 5px">
                            <button type="submit" class="btn btn-primary">Confirmar Exclusão</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- // END: Modal ver agendamento -->
    <!-- BEGIN: Modal realizar agendamento - Data e hora atual -->
    <div id="reserva-currentDate" class="modal fade">
        <form style="height: 100%" class="form-horizontal" role="form" method="post"> {% csrf_token %}
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <strong>Reservar Sala 1</strong>
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body form-reserva">
                        <table>
                            <tr>
                                <td>Data:</td>
                                <td>{{ cadastroReservaForm.data|addcss:'form-control date' }}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Hora Inicial:</td>
                                <td><div id="sample1">{{ cadastroReservaForm.horaInicial|addcss:'form-control' }}</div></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Hora Final:</td>
                                <td><div id="sample1">{{ cadastroReservaForm.horaFinal|addcss:'form-control' }}</div></td>
                                <td>
                                    <button type="button" class="add-minutos" onclick="incre15()">+15'</button>
                                    <button type="button" class="add-minutos" onclick="incre30()">+30'</button>
                                    <button type="button" class="add-minutos" onclick="incre60()">+1h</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Usuario</td>
                                <td>{{ cadastroReservaForm.usuario|addcss:'form-control addresspicker' }}</td>
                            </tr>
                            <tr>
                                <td>Senha</td>
                                <td>{{ cadastroReservaForm.senha|addcss:'form-control' }}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary" >Reservar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- // END: Modal realizar agendamento - Data e hora atual -->

    <script>
    // ::: Script Input Mask :::
    $(function(){
        $('input[class$="date"]').inputmask(
        "dd/mm/yyyy", {
        placeholder: "DD/MM/AAAA",
        dateFormat: 'dd/mm/yyyy',},
      );
    });
    // ::: Script Autocomplete :::
    $(function() {
        var availableTags =
            [
               {% for item in usuarios %}
                   "{{ item.ds_login|cut:" "  }}",
               {% endfor %}
            ];
            $( ".addresspicker" ).autocomplete({
              source: availableTags
            });
        });
    // ::: Script Calendar :::
    $(document).ready(function() {
        $('#calendar').fullCalendar({
            height: 750,
            hiddenDays: [0],
            selectable: true,
            editable: true,
            defaultView: 'agendaDay', // Seta qual caledario aparece no início (Mês, semana, dia )
            header: {
                left: 'prev,next',
                center: 'title',
                right: 'agendaWeek,agendaDay'
            },
            allDaySlot: false, // Remove all day events do topo da tabela
            defaultDate: moment(), // Pega current Data
            navLinks: true, //
            locale: 'pt-br', //idioma
            eventLimit: true, //
            eventStartEditable: false, // Não permiti editar eventos por arrastamento
            eventDurationEditable: false, // Não permiti editar eventos por meio de redimensionamento
            minTime: "08:00:00", // Definindo tempo inicial e final do calendario
            maxTime: "19:00:00",
            validRange: { // Range de dias a mostrar - setado para 30 dias(mudar no django também)
                start: moment().subtract(1, 'days'),
                end: moment().add(30, 'days')
            },
            viewRender: function(view) {
                // Disabilitando botões dia anterior
                if(moment().isAfter(view.intervalStart, 'day')) {
                    $('.fc-prev-button').addClass('fc-state-disabled');
                } else {
                    $('.fc-prev-button').removeClass('fc-state-disabled');
                }
                $('body').remove('.fc-listWeek-button');
            },
            eventClick: function(event, jsEvent, view) { // Abre modal com as informações do agendamento
                $('#modalTitle').html(event.title);
                $('#modalBody').html(
                    document.getElementById("id_reserva").value = event.code,
                    document.getElementById("id_responsavel").value = event.title,
                    document.getElementById("id_recurso").value = event.resource,
                    document.getElementById("id_data").value = event.start.format("DD/MM/YYYY"),
                    document.getElementById("id_horaInicial").value = event.start.format("HH:mm"),
                    document.getElementById("id_horaFinal").value = event.end.format("HH:mm"),
                    document.getElementById('form-exclude').action = '../excluir/' + event.code + '/',

                    // mostrar campos de usuario e senha para validar
                    $('#show-validation').click(function() {
                        $('.validation').slideDown(400);
                        document.getElementById("show-validation").style.display="none";
                        document.getElementById("showBtn").style.display="block";
                    }),
                    $('.btn-default, .close').click(function() { // oculta campos usuario e senha qnd modal é fechado
                        $('.validation').slideUp(400);
                        document.getElementById("show-validation").style.display="inline";
                        document.getElementById("showBtn").style.display="none";
                    }),
                );
                $('#eventUrl').attr('href', event.url);
                $('#fullCalModal').modal();
                return false;
            },
            events: [
                {% for item in reservas %}
                {
                    code: '{{ item.cd_reserva }}',
                    title: '{{ item.cd_usuario }}',
                    resource: '{{ item.cd_recurso }}',
                    start: '{{ item.dt_inicio }}',
                    end: '{{ item.dt_termino }}',
                    description: "{{ item.ds_reserva }}",
                },
                {% endfor %}]
            });
          });
    // ::: Script timePicker :::
    $(document).ready(function(){
        // find the input fields and apply the time select to them.
        $('#sample1 input').ptTimeSelect({
            timeFormat: "HH:mm",
        });
    });
    </script>
</body>
</html>