<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendamento de salas de reunião</title>
    {% load static %}
    {% load tags %}

    <link href="{% static 'assets/css/bootstrap.min_old.css' %}" type="text/css" rel="stylesheet" />
    <link href="{% static 'assets/css/fullcalendar.min.css' %}" type="text/css" rel="stylesheet" />
    <link href="{% static 'assets/css/style.css' %}" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    
    <script src="{% static 'assets/js/jquery.js' %}"></script>
    <!-- Calendario -->
    <script src="{% static 'assets/js/moment.min.js' %}"></script>
    <script src="{% static 'assets/js/fullcalendar.min.js' %}"></script>
    <script src="{% static 'assets/js/old/calendar.js' %}"></script>
    <script src="{% static 'assets/js/locale-all.js' %}"></script>
    <!-- Modal -->
    <script src="{% static 'assets/js/bootstrap.min_old.js' %}"></script>
    <!-- Animação inicial -->
    <script src="{% static 'assets/js/script.js' %}"></script> 


</head>

<body>

<div id="showCalendar" class="animation" style="display:none;"></div>

        <!-- BEGIN: Tela calendário -->
        <div class="wrap">
        {{cadastroReservaForm}}
            <div class="content">
                <div id="calendar"></div>
            </div>
            <a class="plus">
                <i class="fa fa-plus"></i>
            </a>        
            <a class="home" href="index.html">
                <i class="fa fa-home"></i>
            </a>
        </div>
        <!-- // END: Tela calendário -->

    <!-- BEGIN: Modal ver agendamento -->
    <div id="fullCalModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> 
                </div>
                <div id="modalBody" class="modal-body">
                <table>
                        <tr>
                            <td>Data:</td>
                            <td class="reserva-input"><input type="text" class="form-control" id="data-clicada"></td>
                        </tr>
                        <tr>
                            <td>Hora Inicial:</td>
                            <td class="reserva-input"><input type="text" class="form-control" id="hora-clicada" /></td>
                        </tr>
                        <tr>
                            <td>Hora Final:</td>
                            <td class="reserva-input"><input type="text" class="form-control" id="hora-final" /></td>
                        </tr>
                    </table>
                               
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    <a class="btn btn-primary" href="login-pass.html">Excluir</a>
                </div>
            </div>
        </div>
    </div>
    <!-- // END: Modal ver agendamento -->

    <!-- BEGIN: Modal realizar agendamento -->
    <div id="reservaModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <strong>Reservar Sala 1</strong>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span> 
                    </button>
                </div>
                <div id="modalBody" class="modal-body reserva">
                    <table>
                        <tr>
                            <td>Data:</td>
                            <td class="reserva-input"><input type="text" class="form-control" id="data-clicada"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Hora Inicial:</td>
                            <td class="reserva-input"><input type="text" class="form-control" id="hora-clicada" /></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Hora Final:</td>
                            <td class="reserva-input"><input type="text" class="form-control" id="banana" /></td>
                            <td class="reserva-input">
                                <button class="add-min add30" onclick="melancia()">+30'</button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-primary" id="eventUrl" href="login.html">Reservar</a>
                </div>
            </div>
        </div>
    </div>
    <!-- //END: Modal realizar agendamento -->

    <!-- BEGIN: Modal realizar agendamento - Data e hora atual -->
    <div id="reserva-currentDate" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <strong>Reservar Sala 1</strong>
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">×</span> 
                        </button>
                    </div>
                    <div id="modalBody" class="modal-body reserva">
                        <form class="form-horizontal" role="form" method="post"> {% csrf_token %}
                            <table>
                                <tr>
                                    <td>Data:</td>
                                    <td class="reserva-input">{{ cadastroReservaForm.data|addcss:'form-control' }}</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Hora Inicial:</td>
                                    <td class="reserva-input">{{ cadastroReservaForm.horaInicial|addcss:'form-control' }}</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Hora Final:</td>
                                    <td class="reserva-input">{{ cadastroReservaForm.horaFinal|addcss:'form-control' }}</td>
                                    <td>
                                        <button class="add-min" onclick="add10()">+10'</button>
                                        <button class="add-min" onclick="add30()">+30'</button>
                                        <button class="add-min" onclick="add60()">+1h</button>                
                                    </td>
                                </tr>
                            </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary" >Reservar</button>
                    </div>
                    
                </div>
            </div>
            </form>
    </div>
    <!-- // END: Modal realizar agendamento - Data e hora atual -->

</body>

</html>