<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendamento de salas de reunião</title>
    {% load static %}
    {% load tags %}
    <link href="{% static 'assets/css/bootstrap.min_old.css' %}" type="text/css" rel="stylesheet" />
    <link href="{% static 'assets/css/style.css' %}" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="{% static 'assets/js/autocomplete/jquery-ui.css' %}" /><!-- Autocomplete input -->
    <link rel="stylesheet" href="{% static 'assets/css/../../../static/assets/js/autocomplete/autocomplete.css' %}" /><!-- Autocomplete input -->

    <script src="{% static 'assets/js/jquery.js' %}"></script>
    <!-- autocomplete -->
    <script src="{% static 'assets/js/autocomplete/jquery-ui.js' %}"></script>
    <script src="{% static 'assets/js/autocomplete/autocomplete.js' %}"></script>
    <!-- Calendario -->
    <script src="{% static 'assets/js/moment.min.js' %}"></script>
    <!-- Carregando dados do do banco através do serializers -->
    <script>
        var reservas = "{{reservas}}";
    </script>
</head>
<body>
    <!-- BEGIN: Tela calendário -->
    <div class="wrap-content">
        <div class="content">
            {% if messages %}
                {% for message in messages %}
                    <div{% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissable" role="alert" {% endif %}>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        {{ message }}</div>
                {% endfor %}
            {% endif %}
            <div>
                <form class="form-horizontal" role="form" method="post"> {% csrf_token %}
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <strong>Reservar Sala 1</strong>
                                <button type="button" class="close" data-dismiss="modal">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div id="modalBody" class="modal-body reserva">
                                <table>
                                    <tr>
                                        <td>Data:</td>
                                        <td>{{ excluirReservaForm.reserva|addcss:'form-control' }}</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal" data-dismiss="modal">Cancelar</button>
                                <button type="submit" class="btn btn-primary" >Excluir</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- // END: Tela calendário -->
</body>
</html>