<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendamento de salas de reunião</title>
    {% load static %}
    {% load tags %}

    <link href="{% static 'assets/css/bootstrap.min_old.css' %}" type="text/css" rel="stylesheet" />
    <link href="{% static 'assets/css/fullcalendar.min.css' %}" type="text/css" rel="stylesheet" />
    <link href="{% static 'assets/css/style.css' %}" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    
    <script src="{% static 'assets/js/jquery.js' %}"></script>
    
    <!-- Calendario -->
    <script src="{% static 'assets/js/moment.min.js' %}"></script>

    <script src="{% static 'assets/js/fullcalendar.min.js' %}"></script>
    <script src="{% static 'assets/js/old/calendar.js' %}"></script>
    <script src="{% static 'assets/js/locale-all.js' %}"></script>
    <!-- Modal -->
    <!-- Animação inicial -->
    <script src="{% static 'assets/js/script.js' %} "></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.0/jquery.validate.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.0/additional-methods.js"></script>
</head>

<body>

<div id="showCalendar" class="animation" style="display:none;"></div>


<div class="wrap">
    <div class="wrap-login">
        <div class="alert alert-danger" role="alert">
            Usuario não encontrado!
        </div>
        <div class="alert alert-warning" role="alert">
            Não foi possível conectar-se ao sistema. Tente novamente mais tarde.
        </div>
        <div>

        <form class="form-horizontal" role="form" method="post"> {% csrf_token %}
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <strong>Reservar Sala 1</strong>
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div id="modalBody" class="modal-body reserva">
                        <table>
                            <tr>
                                <td>Data:</td>
                                <td class="reserva-input">{{ cadastroReservaForm.data|addcss:'form-control' }}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Hora Inicial:</td>
                                <td class="reserva-input">{{ cadastroReservaForm.horaInicial|addcss:'form-control' }}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Hora Final:</td>
                                <td class="reserva-input">{{ cadastroReservaForm.horaFinal|addcss:'form-control' }}</td>
                                <td>
                                    <button class="add-min" onclick="add10()">+10'</button>
                                    <button class="add-min" onclick="add30()">+30'</button>
                                    <button class="add-min" onclick="add60()">+1h</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Usuário SKA:</td>
                                <td class="reserva-input">{{ cadastroReservaForm.usuario|addcss:'form-control' }}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Senha:</td>
                                <td class="reserva-input">{{ cadastroReservaForm.senha|addcss:'form-control' }}</td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary" >Reservar</button>
                    </div>
                </div>
            </div>
        </form>


    </div>
</div>

<a class="home" href="../calendar.html">
    <i class="fa fa-undo-alt"></i>
</a>
</div>





</body>

</html>